.input {

    -fx-border-radius: 15;
    -fx-border-color: #fafafa;
    -fx-text-fill: #fafafa;
    -fx-padding: 10 10;
    -fx-background-color: #2b2b2b;

}

.input:focused {
    -fx-border-color: #bda42b;
}


.button {
    -fx-text-fill: #fafafa;
    -fx-padding: 10 10;
    -fx-background-color: #ed4574;
}

.button:hover {
 -fx-translate-y: -5;
}

.Vbox {


}

.Vbox:hover {

    -fx-background-color: #ed4574;
}


.inputt {

-fx-text-fill: #fafafa;
-fx-control-inner-background: #2b2a2a;
-fx-prompt-text-fill: #a1a1a1;

}